* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: montserrat;
  src: url(fonts/montserrat-v26-latin-regular.woff2);
}
@font-face {
  font-family: quantico;
  src: url(fonts/quantico-v17-latin-regular.woff2);
}
html {
  font-size: 62.5%;
  color: rgb(237, 237, 237);
  font-family: montserrat;
}

body {
  background-color: rgb(31, 20, 62);
}

.logo {
  margin-top: 10px;
  margin-left: -250px;
}

footer {
  background-color: rgb(11, 5, 27);
}

.header-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: quantico;
}

.header-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

li {
  list-style: none;
}

nav ul ul {
  display: none;
  opacity: 0;
}

nav ul li:focus-within > ul,
nav ul li:hover > ul {
  display: inherit;
  list-style: none;
  opacity: 1;
}

nav {
  background-color: rgb(31, 20, 62);
  color: rgb(255, 255, 255);
}

nav ul li {
  background-color: rgb(31, 20, 62);
}

nav ul ul {
  position: absolute;
  top: 50px;
}

nav ul ul li {
  display: list-item;
  width: 170px;
  background-color: rgb(31, 20, 62);
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  line-height: 50px;
  font-size: 16px;
}

nav a {
  line-height: 40px;
  padding: 10px;
  display: block;
  width: 50px;
}

nav ul ul li {
  width: 250px;
  line-height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  top: -10px;
}

nav ul ul ul li {
  position: relative;
  top: -40px;
  left: 230px;
  width: 250px;
}

.superfast p {
  display: flex;
  flex-direction: row;
  border: 1px;
  border-style: solid;
  border-color: rgb(102, 102, 102);
  margin: 10px;
  justify-content: center;
  color: rgb(255, 255, 255);
  gap: 10px;
  font-size: 11px;
  text-transform: uppercase;
  align-items: center;
}

.searchbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(11, 5, 27);
  padding: 10px;
  font-family: montserrat;
}

#searchinput {
  width: 75%;
  height: 4rem;
  outline: none;
  border: none;
  border-radius: 1.625rem;
  padding: 0 3.5rem 0 1.5rem;
}

#searchsubmit {
  width: 5rem;
  height: 4rem;
  margin-left: -5rem;
  background: none;
  border: none;
  outline: none;
}

h2 {
  font-family: quantico;
  font-size: 16px;
  font-weight: 400;
  padding: 6px 16px;
}

.main-section {
  width: 150px;
  text-align: center;
  margin: 30px;
  color: rgb(185, 185, 185);
  border: 1px;
  border-style: solid;
  box-shadow: 1px 1px 8px 1px rgb(185, 185, 185), 1px 1px 4px 1px rgb(185, 185, 185) inset;
}

.best-sellers,
.coming-soon {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.header-icons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 10px;
  margin: 10px;
}

.phone-content {
  display: flex;
  flex-direction: row;
}

.content1 {
  background-color: rgb(45, 103, 209);
  width: 300px;
  line-height: 2;
  padding-left: 20px;
  padding-top: 4px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
}

.content2 {
  background-color: rgb(207, 30, 68);
  width: 300px;
  line-height: 2;
  padding-left: 20px;
  padding-top: 4px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
}

span {
  color: rgb(29, 211, 149);
  text-transform: uppercase;
  font-size: 14px;
  padding-top: 6px;
  padding-bottom: 8px;
}

.mainimage {
  margin-top: 10px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 30px;
  gap: 20px;
}

footer p {
  text-transform: uppercase;
  font-size: 400;
  font-size: 18px;
  font-family: quantico;
  text-shadow: 0 0 9px rgba(253, 63, 78, 0.9), 0 0 9px rgba(253, 63, 78, 0.9), 0 0 9px rgba(253, 63, 78, 0.9), 0 0 9px rgba(253, 63, 78, 0.9);
}

.footer-content li {
  color: rgb(110, 109, 147);
}

.footer-media,
.footer-pay {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
  align-content: flex-start;
  gap: 20px;
}

.products {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(11, 5, 27);
  height: 70px;
  gap: 10px;
}

.heart {
  background-color: rgb(31, 20, 62);
  height: 25px;
  width: 25px;
  padding: 5px;
}

.cart {
  background-color: rgb(26, 209, 148);
  width: 130px;
  height: 25px;
  padding-left: 50px;
}

.cloud {
  width: 25px;
  height: 25px;
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 5px;
}

.safe,
.trustpilot {
  display: none;
}

.avatar {
  -webkit-clip-path: circle(50%);
          clip-path: circle(50%);
}

div h3 {
  margin-bottom: 30px;
  padding-top: 20px;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.4px;
}
div li {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 200;
}

@media screen and (min-width: 600px) {
  nav > ul > li > a,
  .phone-content {
    display: none;
  }
  nav > ul > li > ul {
    display: initial;
    top: 120px;
    opacity: 1;
  }
  nav > ul > li > ul > li {
    display: inline-block;
    background-color: rgb(31, 20, 62);
  }
  nav ul ul ul li {
    top: 10px;
    left: 5px;
    background-color: rgb(11, 5, 27);
    width: 150px;
  }
  .header-content {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "header header2 header3" "header4 header5 header6";
  }
  .searchbar {
    background-color: rgb(31, 20, 62);
    grid-area: header5;
    position: sticky;
  }
  .superfast {
    grid-area: header3;
    background-color: rgb(11, 5, 27);
  }
  .ratings,
  .trustpilotlogo {
    width: 120px;
    height: 25px;
  }
  .safe,
  .trustpilot {
    display: flex;
    top: 10px;
    background-color: rgb(11, 5, 27);
    justify-content: space-evenly;
  }
  .trustpilot {
    padding-top: 15px;
  }
  .shield {
    width: 20px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
  nav ul ul li {
    width: 100px;
  }
  #searchinput {
    width: 75%;
    height: 4rem;
    outline: none;
    border: none;
    border-radius: 1.625rem;
    padding: 0 3.5rem 0 1.5rem;
  }
  .logo {
    margin-left: 20px;
  }
  .header-main {
    grid-area: header4;
  }
  .burger {
    font-size: 12px;
  }
  .mainimage {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .main-section {
    width: 350px;
  }
  h2 {
    font-size: 40px;
  }
  .footer-content1,
  .footer-social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 30px;
  }
  .product-image:hover {
    transform: scale(1.15);
  }
}/*# sourceMappingURL=styles.css.map */